* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

:root {
    --primary-clr: #FFB606;
    --primary-ft: "Open Sans";
    --secondary-ft: "Montserrat";
    --big-sz: 5rem;
    --medium-sz: 2.5rem;
    --small-sz: 2rem;
    --smallest-sz: 1.5rem;
    --menu-desc: 1rem;
}

#content {
    height: 100%;
}

/* ---------- NAV BAR ----------*/
.navbar {
    margin: 20px;
    font-family: var(--primary-ft);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 100px;
}

.logo {
    font-size: var(--big-sz);
}

li {
    list-style-type: none;
    font-family: var(--secondary-ft);
    font-size: var(--small-sz);
    cursor: pointer;
    transition: color .35s ease;
}

li:hover {
    color: var(--primary-clr);
}

/* ---------- Content ----------*/
.main {
    margin: 0 5%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left-main {
    background-color: var(--primary-clr);
}

.greeting-container {
    max-width: 65ch;
    transform: rotate(90deg);
    transform-origin: bottom left;
    margin-left: 10%;
    padding-left: 5%;
    border-left: 15px solid black;
} 

.greet-title {
    font-family: var(--primary-ft);
    font-size: var(--medium-sz);
}

.greet-content {
    font-family: var(--secondary-ft);
    font-size: var(--small-sz);
    font-style: italic;
}

.right-main {
    background-image: url(./homeImg.jpg);
    background-size: cover;
}

.front-logo { 
    position: absolute;
    left: 35%;
    width: 15%;
    font-family: var(--secondary-ft);
    text-transform: uppercase;
}

.top-logo {
    font-size: 10rem;
    font-weight: 900;
}

.bottom-logo {
    font-size: 6.5rem;
    font-style: italic;
    color: rgba(255, 255, 255, 0.80);
}

/* ---------- MENU ----------*/
.menu {
    height: 100%;
    margin: 0 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: rgba(0, 0, 0, 0.044);
}

.category:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2; 
}

.category {
    padding: 5% 25%;
    height: 100%;
    font-family: var(--primary-ft);
    font-size: var(--big-sz);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 25px;
}

.food {
    font-family: var(--secondary-ft);
    font-size: var(--smallest-sz);
}

.food-item {
    text-transform: uppercase;
    color: var(--primary-clr);
}

.description {
    text-transform: capitalize;
    font-style: italic;
    font-size: var(--menu-desc);
}

/* ---------- ABOUT ----------*/
.about {
    height: 100%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.about-header {
    text-transform: capitalize;
    font-family: var(--primary-ft);
    font-size: var(--big-sz);
    font-weight: bolder;
    color: var(--primary-clr);
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.definition {
    font-family: var(--secondary-ft);
    font-size: var(--small-sz);
}

.about-content {
    font-family: var(--secondary-ft);
    font-size: var(--smallest-sz);
    padding-left: 2%;
}

.about-body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-left {
    height: 125vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 250px;
}

.about-image {
    width: 50%;
    height: 40%;
    background-image: url(./soytiet.png);
    background-size: cover;
    border-radius: 10px;
}

.about-right {
    height: 125vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.chef-title {
    font-family: var(--primary-ft);
    font-size: var(--medium-sz);
    color: var(--primary-clr);
}

.chef-biography {
    width: max(75ch);
    font-family: var(--secondary-ft);
    font-size: var(--smallest-sz);
}

.img {
    width: 50%;
    height: 45%;
    background-image: url(./Times.png);
    background-size: cover;
    border-radius: 10px;
}

.time-section {
    font-family: var(--primary-ft);
    font-size: var(--medium-sz);
    color: var(--primary-clr);
    margin-top: 17%;
}

.interview {
    font-family: var(--secondary-ft);
    font-size: var(--smallest-sz);
    font-style: italic;
    margin-left: 90%;
}